#center{
	position:absolute;
	top:50%;
	left:50%;
	text-align: center;
}
span{
	font-family: 'Arial';
	color: black;
	margin-top: 10px;
}
@media screen and (max-width:480px) {
	img{
		width: 200px;
		height: 100px;
		margin-top:-50px;
		margin-left:-100px;
	}
	span{
		font-size: 25px;
		margin-left: -100px;
	}
}
@media screen and (min-width:480px) { 
	img{
		width: 300px;
		height: 200px;
		margin-top:-100px;
		margin-left:-150px;
	}
	span{
		font-size: 35px;
		margin-left:-150px;
	}

}

@media only screen and (min-width: 992px) { 
	img{
		width: 400px;
		height: 300px;
		margin-top:-150px;
		margin-left:-200px;
	}
	span{
		font-size: 45px;
		margin-left:-200px;
	}

}