body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#full-screen{
	z-index: -999;
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
span{
	font-family: 'Emblema One', cursive;
	font-size: 52px;
	font-style: normal;
	font-weight: 400;
	color: sienna;
}
#tx{
	margin-top: 5%;
}
img{
	width: 500px;
	height: 300px;
}
@media screen and (max-width:768px) { 

	#full-screen{
		content: url("../imgs/fundo-construcao-mob.jpg");
	}

}
@media screen and (min-width:768px) { 

	#full-screen{
		content: url("../imgs/fundo-construcao.jpg");
	}

}